@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Simple_Bank_Application.Pages.customer.profileModel
@{
	ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title</h2>

<form method="post">
	<div>
		<label for="name">Name: </label>
		<input type="text" id="name" name="Name" asp-route-name="@Model.Name" value="@Model.Name" />

		<label for="surname">Surname: </label>
		<input type="text" id="surname" name="Surname" asp-route-surname="@Model.Surname" value="@Model.Surname" />

		<label for="username">Username: </label>
		<input type="text" id="username" name="Username" asp-route-username="@Model.Username" value="@Model.Username" />

		<label for="password">Password: </label>
		<input type="text" id="password" name="Password" asp-route-password="@Model.Password" value="@Model.Password" />

		<label for="email">Email: </label>
		<input type="text" id="email" name="Email" asp-route-email="@Model.Email" value="@Model.Email" />

		<label for="id">User ID:</label>
		<input type="number" id="id" value="@Model.UserId" readonly/>
	</div>
	
	<button asp-page-handler="Update" type="submit">Update</button>
	<button asp-page-handler="DeleteUser" type="submit">Delete User</button>
</form>
<form method="get" asp-page="/customer/dashboard">
	<button type="submit">Return</button>
</form>